body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background: #88781e;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

header h1 {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.noticia {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.noticia h2 {
  margin-top: 0;
  color: #a18e1f;
}

.noticia small {
  display: block;
  color: gray;
  margin-bottom: 10px;
}

.noticia img {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}

footer {
  text-align: center;
  background: #665a15;
  color: white;
  padding: 10px;
  margin-top: 30px;
}
