@keyframes animacao {
  from { background-color: #7917c9; }
  to { background-color: #00e676; }
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
}
.navbar-brand {
  font-size: 2rem;
}

/* Cultos container responsivo */
.cultos-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px 10px;
  background-image: url('fundo-de-textura-de-pintura-liquida-de-marmoreio-textura-abstrata-de-pintura-fluida-papel-de-parede-de-mistura-de-cores-intensiva.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.h2-cultos {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 40px;
  background: #e4c26c;
  border-radius: 8px;
  padding: 7px 0;
  margin-left: 350px;
  margin-right: 350px;
}

.cultos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}

.img-culto {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin-top: 40px;
  margin-left: 30px;
}

.lista-dias {
  flex: 1;
  min-width: 250px;
  margin-right: 30px;
  margin-left: 30px;
}

.dia {
  margin-bottom: 20px;
}

.data {
  background-color: #c4a65a;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  color: #fff8f8;
  
}

.evento a {
  display: block;
  padding: 8px 3px;
  background-color: #fff;
  border: 1px solid #f8d2b8;
  border-top: none;
  text-decoration: none;
  color: black;
  border-radius: 0 0 5px 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.evento a:hover {
  background-color: #f3ecd4;
}

.card {
  margin-left: 20px;
}

.versiculo {
  text-align: center;
}

    footer {
            background-color: #535353;
            color: white;
            padding: 30px 0;
            text-align: center;
            margin-top: 40px;
        }
        
        .contato {
            margin-bottom: 20px;
        }
        
        .copyright {
            font-size: 14px;
            color: #aaa;
        }























/* Responsivo para telas menores */
@media (max-width: 768px) {
  .cultos {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .img-culto {
    max-width: 100%;
  }
  .cultos-container {
    padding: 20px 5px;
  }
  .h2-cultos {
    font-size: 1.5rem;
  }
}